setA{
    display:flex;
    width:250px;
    border:6px solid white;
}
iname{
      display:block;
      padding:5px;
      color:black;
      font-family:copperplate Gothic Light;
      font-size:14pt;
      font:bold;
}

price{
      padding:5px;
      color:white;
      font-family:italic;
      font-size:12pt;
      font:bold;
}
quantity{
      	
      padding:5px;
      color:yellow;

      
}
*{
      background-color:orange;
}
